* {
	margin: 0px;
	padding: 0px;
}

#result {
	outline: 1px solid #ccc;
	padding: 5px;
	left: 50%;
	position: absolute;
	right: 0;
}

.content {
	position: absolute;
	left: 10%;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}

label:nth-child(1) {
	width: 100px;
	display: inline-block;
	line-height: 25px;
}

a.button{
	height: 26px;
	line-height: 26px;
	display: inline-block;
	padding: 0px 16px;
	margin-right: 6px;
	color: #666666;
	vertical-align: middle;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../img/common.gif) 0px 0px repeat-x;
}