<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<style>
    .dot{
        display: block;
        height:1px;
        width:5px;
        border-left:1px #000 dotted;
    }
    .line{
        height:100px;
        width:1px;
        border-left:1px #000 solid;
    }
</style>
<body>
<div>
    <span>
        <span class="dot"></span>
        <span class="line"></span>
        <span class="dot"></span>
    </span>
    <span class="content">Content</span>
</div>

</body>
</html>