<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<title>微能运维平台</title>
	<!--[if lt IE 9]>
	<meta http-equiv="refresh" content="0;ie.html"/>
	<![endif]-->
	<style>
		.nav>li>a i {
			margin-right: 6px;
			width: 13px;
			height: 13px;
			display: inline-block;
			text-align: center;
		}
	</style>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link href="../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/style.min862f.css?v=4.1.0" rel="stylesheet">


</head>

<body class="fixed-sidebar full-height-layout gray-bg"
	  style="overflow: hidden">
<div id="wrapper">
	<!--左侧导航开始-->
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="nav-close">
			<i class="fa fa-times-circle"></i>
		</div>
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
						<span><img alt="image" class="img-circle" src="{{ url_for('static', filename='img/a1.jpg') }}" style="margin-left: 30%;width: 38%"/></span>
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="clear" style="text-align: center">
									<span class="block m-t-xs">
										<strong class="font-bold">{{ people.name }}<b class="caret"></b></strong>
									</span>
							</span>
						</a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="/people/update/{{ people.id }}">修改资料</a>
                            <li><a href="logout">安全退出</a>
                            </li>
                        </ul>
					</div>
					<div class="logo-element">H+</div>
				</li>
				<li><a href="" class="J_menuItem"> <i
                        class="fa fa-gears"></i> <span class="nav-label">CMDB</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a class="J_menuItem"  href="/people">人</a></li>
                        <li><a class="J_menuItem"  href="/idc">机房</a></li>
                        <li><a class="J_menuItem"  href="/product">产品线</a></li>
                        <li><a class="J_menuItem"  href="/server">服务器</a></li>
                        <li><a class="J_menuItem"  href="/service">服务</a></li>

                    </ul>
                    <span class="fa arrow"></span>
				</li>
				<li><a href="http://120.24.80.34:2222" class="J_menuItem"> <i
						class="fa fa-send"></i> <span class="nav-label">部署发布</span>
				</a></li>
                <li><a href="http://rancher.aiplatform.com.cn" class="J_menuItem"> <i
                        class="fa fa-send"></i> <span class="nav-label">容器管理</span>
                </a></li>
                <li><a href="http://zabbix.aiplatform.com.cn" class="J_menuItem"> <i
                        class="fa fa-send"></i> <span class="nav-label">监控平台</span>
                </a></li>
                <li><a href="http://grafana.aiplatform.com.cn" class="J_menuItem"> <i
                        class="fa fa-send"></i> <span class="nav-label">应用监控</span>
                </a></li>
				<li><a href="" class="J_menuItem"><i class="fa fa-th-large"></i>
					<span class="nav-label">小工具</span><span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level collapse">
						<li>
                            <a class="J_menuItem" href="ops/TableStructureDiff.html">表结构对比</a>
						</li>
						<li>
							<a class="J_menuItem" href="CIP/CipProductList.html">CIP服务管理</a>
						</li>
						<li>
							<a class="J_menuItem" href="Lounge/LoungeProductList.html">休息室管理</a>
						</li>
						<li>
							<a class="J_menuItem" href="Guest/GuestProductList.html">嘉宾服务管理</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!--左侧导航结束-->
	<!--右侧部分开始-->
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation"
				 style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
					   href="#"><i class="fa fa-bars"></i> </a>
				</div>
			</nav>
		</div>
		<div class="row content-tabs">
			<button class="roll-nav roll-left J_tabLeft">
				<i class="fa fa-backward"></i>
			</button>
			<nav class="page-tabs J_menuTabs">
				<div class="page-tabs-content">
					<a href="/login" class="active J_menuTab"
					   data-id="homeV1.html" data-index="0">首页</a>
				</div>
			</nav>
			<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
			</button>
		</div>
		<div class="row J_mainContent" id="content-main">
			<iframe class="J_iframe" name="iframe0" width="100%" height="100%"
					src="home" frameborder="0" data-id="homeV1.html"
					seamless></iframe>
		</div>
	</div>
	<!--右侧部分结束-->
	<!--右侧边栏开始-->
	<!--右侧边栏结束-->
	<!--mini聊天窗口开始-->
	<div class="small-chat-box fadeInRight animated">
		<div class="heading" draggable="true">
			<small class="chat-date pull-right"> SOS</small>
			与 Beau-zihan 聊天中
		</div>
		<div class="content"></div>

	</div>
	<div id="small-chat">
		<span class="badge badge-warning pull-right">SOS</span> <a
			class="open-small-chat"> <i class="fa fa-comments"></i>
	</a>
	</div>
</div>

<script src="../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../static/js/plugins/layer/layer.min.js"></script>
<script src="../static/js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="../static/js/contabs.min.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>
<script src="../static/js/base.js"></script>


</body>
<script>
	function init() {
		var user = localStorage.user;
		if (user != "admin") {
			$(".h_admin").hide();
		}
	}

	//init();
</script>

</html>

